ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\25B8"; 
  color: blue; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
